<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>ankang</servlet-name>
        <servlet-class>ankang.tomcat.server.MyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ankang</servlet-name>
        <url-pattern>/ankang</url-pattern>
    </servlet-mapping>
</web-app>